<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'menu/css/navbar.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 20;">
        <a class="navbar-brand" href="{% url 'index' %}"> Se venden plantas¿</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}"><i class="fa fa-house"></i> Inicio</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ofertas' %}"><i class="fa-solid fa-money-bill-trend-up"></i> Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Contacto' %}"><i>
                  <class class="fa fa-contact-card"></class>
                </i> Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Categorias' %}"><i>
                  <class class="fa fa-book-bookmark"></class>
                </i> Categorias</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
          
    
            <ul class="nav navbar-nav navbar-right">
    
    
              <li class="nav-item">
                <a class="nav-link" data-toggle="dropdown" href="#">{{ user.username }}
                <span class="caret"></span></a>
    
                  {% if user.is_staff %}
                    <li><a href="{% url 'Perfil_administrador' %}">Administración</a></li>
                  {% endif %}
                  <li><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                  
                  
                    
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Perfil</a>
                  </li>
                  <LI>
              {% include 'carrito/menu_cart.html'%}
            </LI>
                </ul>
      
    
            </ul>
    
        {% else %}
    
            
            <ul class="nav navbar-nav navbar-right">
              <a class="nav-link" href="{% url 'create_html' %}">Crear</a></li><br>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <a class="nav-link" href="{% url 'login' %}"></i> Iniciar sesion</a>
            </ul>
    
            {% endif %}
          </div>
      </nav>
      <div class="max-w-6x1 mx-auto flex flex-wrap items-start py-6 xl:px-0">

</div>

</div>
<div class="direccion w-full lg:w-3/4 rounded-xl bg-green-300">
    <h1 class="MB-5 text-2xl">Direccion</h1>
    
    {% for x in messages %}
    <p class="mb-3 text-red-500">{{ x }}</p>
    {% endfor %}
    <form action="{% url 'direccion' %}" method="post">
      {% csrf_token %}
    <select name="comuna" id="region" class="select w-1/4 rounded-xl text-black">
    <option value="0">seleccione una comuna</option>
    {% for e in com %}
    
    <option value="{{e.id_com}}">{{e.nombre}}</option>
    
    {% endfor%}
    </select>
    <br>
    
    <p>Direccion</p>
    <textarea name="direccion" id="direccion" cols="20" rows="2" class="area rounded-xl"></textarea>
    <span><p>Numero</p>
    <input type="number" name="numero" id="numero" class="rounded-xl">
    <p>Codigo postal</p>
    <input type="number" name="codigo" id="codigo" class="rounded-xl">
    <br>
    <button type="submit" class="button inl rounded-xl bg-cyan-200 hover:bg-cyan-400 px-8 py-3" >guardar direccion</button>
    </form>
  
</div>

</body>
</html>