
djangocosa/.vscode/settings.json
djangocosa/carrito/__pycache__/carrito.cpython-310.pyc
djangocosa/carrito/__pycache__/views.cpython-310.pyc
djangocosa/djangocosa/__pycache__/settings.cpython-310.pyc
*.pyc
*.pyc
*.pyc
