<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Eliminar cuenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'menu/css/weaformulario.css' %}">
  <style>
    .container {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    table {
      margin-top: 30px;
      margin-bottom: 30px;
      width: 80%;
    }
  </style>
</head>
<body>
  <div class="container">
    <form class="form-inline mb-3" id="buscar" action="" method="get">
      <input class="form-control mr-sm-2" type="search" id="search" name="search" placeholder="Buscar" aria-label="Search">
      <BR>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>motivo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John Doe</td>
          <td>johndoe@gmail.com</td>
          <td>
            <form id="wea" action="" method="post">
              <div class="form-group">
                <input type="text" class="form-control" id="weon" name="weon" placeholder="Ingrese motivo de borrado">
              </div>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Jane Smith</td>
          <td>janesmith@yahoo.com</td>
          <td>
            <form id="wea2" action="" method="post">
              <div class="form-group">
                <input type="text" class="form-control" id="weon2" name="weon2" placeholder="Ingrese motivo de borrado">
              </div>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>Bob Johnson</td>
          <td>bjohnson@hotmail.com</td>
          <td>
            <form id="wea3" action="" method="post">
              <div class="form-group">
                <input type="text" class="form-control" id="weon3" name="weon3" placeholder="Ingrese motivo de borrado">
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
<script src="{% static 'menu/javaScript/v_ban.js' %}"></script>
<script src="{% static 'menu/javaScript/v_ban2.js' %}"></script>
</html>
