<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Borrar cuenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'menu/css/weaformulario.css' %}">
  <style>
    body {
      background-image: url("{% static 'menu/img/bgus.webp' %}");
      background-size: cover;
      height: 100vh;
    }
    .container {
        height: 100vh;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
    .card {
      max-width: 400px;
      width: 100%;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Borrar cuenta</h3>
        <form id="erase" action="{% url 'borrarcuenta' %}" method="post">
          {% if messages %}
        <div>
          {% for i in messages %}
          <p>{{ i }}</p>
          {% endfor %}
        </div>
        {% endif %}
          {%csrf_token%}
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="ingrese contraseña">
          </div>
          <input class="submit" type="submit" value="Eliminar cuenta" />
        </form>
      </div>
      
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
<script src="{% static 'menu/javaScript/v_borrar.js' %}"></script>
</html>
