<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Cambiar contraseña</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'menu/css/weaformulario.css' %}">
  <style>
    body {
      background-image: url("{% static 'menu/img/bgus.webp' %}");
      background-size: cover;
      height: 100vh;
    }
    .container {
        height: 100vh;
      margin-top: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Cambiar contraseña</h3>
        <form id="change" action="{% url 'login' %}" method="post">
          {%csrf_token%}
          <div class="form-group">
            <label for="currentpassword">Contraseña actual</label>
            <input type="password" class="form-control" id="currentpassword" name="currentpassword" placeholder="ingrese su contraseña actual">
          </div>
          <div class="form-group">
            <label for="newpassword">Nueva contraseña</label>
            <input type="password" class="form-control" id="newpassword"  name="newpassword" placeholder="ingrese la Nueva contraseña">
          </div>
          <div class="form-group">
            <label for="confirmpassword">Confirme nueva contraseña</label>
            <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirime su nueva contraseña">
          </div>
          <input class="submit" type="submit" value="Cambiar contraseña" />
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="{% static 'menu/javaScript/v_chnge.js' %}"></script>
</html>