<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <title>Crear cuenta</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'menu/css/weaformulario.css' %}">
  <style>
    body {
      background-image: url("menu/img/bgus.webp");
      background-size: cover;
      height: 100vh;
    }

    .container {
      margin-top: 18vh;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
  </style>
</head>

<body>
  <br>
  <br>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title text-center">Crear cuenta</h3>
        <form id="createform" action="{% url 'create_html' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="Rut">Rut</label>
            <input type="text" class="form-control" id="Rut" name="Rut" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="name">nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="apellido">apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Ingrese su apellido">
          </div>
          <div class="form-group">
            <label for="telefono">telefono</label>
            <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group">
            <label for="email">correo</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="ingrese su correo">
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password"
              placeholder="Ingrese su contraseña">
          </div>
          <div class="form-group">
            <label for="password2">Repita contraseña</label>
            <input type="password" class="form-control" id="password2" name="password2"
              placeholder="Ingrese su contraseña">
          </div>
          <div class="form-group">
            <label for="security-question">Pregunta de seguridad</label>
            <select class="form-control" id="security-question" required>
            {% for e in Pregunta %} 
              <option value="{% e.id_preg_id %}">{% e.nombre %}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="securityanswer">Respuesta</label>
            <input type="text" class="form-control" id="securityanswer" name="securityanswer"
              placeholder="Ingrese la respuesta">
          </div>
          {% if messages %}
        <div>
          {% for i in messages %}
          <p>{{ i }}</p>
          {% endfor %}
        </div>
        {% endif %}
          <input class="btn btn-primary" type="submit" value="Crear cuenta" />
        </form>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/additional-methods.min.js"></script>
<script src="{% static 'menu/javaScript/v_create.js' %}"></script>

</html>