<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'menu/css/styles.css' %}" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{% static 'menu/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'menu/css/navbar.css' %}">

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 20;">
          <a class="navbar-brand" href="{% url 'index' %}"> Se venden plantas¿</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}"><i class="fa fa-house"></i> Inicio</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ofertas' %}"><i class="fa-solid fa-money-bill-trend-up"></i> Ofertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Contacto' %}"><i>
                    <class class="fa fa-contact-card"></class>
                  </i> Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'categorias' %}"><i>
                    <class class="fa fa-book-bookmark"></class>
                  </i> Categorias</a>
              </li>
            </ul>
          </div>
          {% if User.is_authenticated %}
      
      
              <ul class="nav navbar-nav navbar-right">
      
      
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ user.username }}
                    <span class="caret"></span></a>
      
                  <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    
                    <li >
                      <a class="nav-link" href="{% url 'Carrito' %}">
                        Carrito
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Perfil</a>
                    </li>
      
      
                  </ul>
                  
      
                </li>
      
              </ul>
              {% else %}
      
              
              <ul class="nav navbar-nav navbar-right">
                <a class="nav-link" href="{% url 'create_html' %}">Crear</a></li><br>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <a class="nav-link" href="{% url 'login' %}"></i> Iniciar sesion</a>
              </ul>
      
              {% endif %}
            </div>
        </nav>
        <!-- Header-->
        <header id="titulo_oferta" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-2 fw-bolder"><b>Ofertas</b></h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                            <!-- Product image-->
                            <img class="card-img-top foto_especial" src="{% static 'menu/img/Flor1.jpg' %}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">2 x 1 En Gazanias</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $8.990
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta1' %}">Ver Oferta</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                            <!-- Product image-->
                            <img class="card-img-top foto_especial" src="{% static 'menu/img/cactus4.jpg' %}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">50% menos en Haworthia fasciata</h5>
                                    <!-- Product price-->
                                    $3.500
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta2' %}">Ver Oferta</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                            <!-- Product image-->
                            <img class="card-img-top foto_especial" src="{% static 'menu/img/Flor5.jpg' %}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">2x1 en Tulipánes</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">$6.000</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta3' %}">Ver Oferta</a></div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--        fila 2    -->
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                  <div class="col mb-5">
                      <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                          <!-- Product image-->
                          <img class="card-img-top foto_especial" src="{% static 'menu/img/Maceta 4.jpg' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">15% menos en Macetas de plastico</h5>
                                  <!-- Product reviews-->
                                  <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                  </div>
                                  <!-- Product price-->
                                  $7.000
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta4' %}">Ver Oferta</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="col mb-5">
                      <div class="card h-100">
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                          <!-- Product image-->
                          <img class="card-img-top foto_especial" src="{% static 'menu/img/maceta 3.jpg' %}" alt="..." />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">2x1 En maceteros de greda</h5>
                                  <!-- Product price-->
                                  $12.000
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta5' %}">Ver Oferta</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="col mb-5">
                      <div class="card h-100">
                          <!-- Sale badge-->
                          <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">OFERTA</div>
                          <!-- Product image-->
                          <img class="card-img-top foto_especial" src="{% static 'menu/img/pesticida1_chiquito.jpg' %}" alt="..."  style="height: 140px;" />
                          <!-- Product details-->
                          <div class="card-body p-4">
                              <div class="text-center">
                                  <!-- Product name-->
                                  <h5 class="fw-bolder">20% menos en Raid</h5>
                                  <!-- Product reviews-->
                                  <div class="d-flex justify-content-center small text-warning mb-2">
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                      <div class="bi-star-fill"></div>
                                  </div>
                                  <!-- Product price-->
                                  <span class="text-muted text-decoration-line-through">$3.000</span>
                              </div>
                          </div>
                          <!-- Product actions-->
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'oferta6' %}">Ver Oferta</a></div>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
        </section>
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'menu/js/scripts.js' %}"></script>
    </body>
</html>