<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shop Homepage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/navbar.css">

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 20;">
          <a class="navbar-brand" href="index.html"> Se venden plantas¿</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="index.html"><i class="fa fa-house"></i> Inicio</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="ofertas.html"><i class="fa-solid fa-money-bill-trend-up"></i> Ofertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Carrito.html"><i class="fa-solid fa-cart-shopping"></i> Carrito</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="profile.html"><i class="fa-solid fa-user"></i> Perfil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contacto.html"><i>
                    <class class="fa fa-contact-card"></class>
                  </i> Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Categorias.html"><i>
                    <class class="fa fa-book-bookmark"></class>
                  </i> Categorias</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="login.html"><i class="fa fa-user-alt"></i> Iniciar sesion</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="create.html"><i class="fa fa-user-alt"></i> Registrarse</a>
              </li>
            </ul>
          </div>
        </nav>
          </div>
        </nav>
        <!-- Header-->
        <header id="titulo_perfil" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-3 fw-bolder"><b>Perfil</b></h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
          <div class="container">
            <div class="card">
              <div class="card-header">
                Mi perfil
              </div>
              <div class="card-body">
                <h5 class="card-title">Juanito Pears</h5>
                <p class="card-text"><strong>Email:</strong> PearsJuan@email.com</p>
                <p class="card-text"><strong>Direccion:</strong> 123 calle, Santiago</p>
                    <p class="card-text"><strong>Metodo de Pago agregado:</strong> Visa, Efectivo</p>
              </div>
              <a href="chNGE.html" class="btn btn-primary">Cambiar contraseña</a> 
              <a href="borrarcuenta.html" class="btn btn-primary">eliminar cuenta</a> 
            </div>
          </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>