<!DOCTYPE html>
<html lang="en">
  {% load static %}
    <head>
      <script src="https://cdn.tailwindcss.com"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>perfil</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'menu/css/styles.css' %}" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="{% static 'menu/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'menu/css/navbar.css' %}">

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 20;">
        <a class="navbar-brand" href="{% url 'index' %}"> Se venden plantas¿</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'index' %}"><i class="fa fa-house"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Contacto' %}"><i>
                  <class class="fa fa-contact-card"></class>
                </i> Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Categorias' %}"><i>
                  <class class="fa fa-book-bookmark"></class>
                </i> Categorias</a>
            </li>
          </ul>
        </div>
        {% if user.is_authenticated %}
          
    
            <ul class="nav navbar-nav navbar-right">
    
    
              <li class="nav-item">
                <a class="nav-link" data-toggle="dropdown" href="#">{{ user.username }}
                <span class="caret"></span></a>
    
                  {% if User.is_staff %}
                    <li><a href="{% url 'Perfil_admistrador' %}">Administración</a></li>
                  {% endif %}
                  <li><a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                  
                  
                    
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i> Perfil</a>
                  </li>
                  <LI>
              {% include 'carrito/menu_cart.html'%}
            </LI>
                </ul>
      
    
            </ul>
    
        {% else %}
    
            
            <ul class="nav navbar-nav navbar-right">
              <a class="nav-link" href="{% url 'create_html' %}">Crear</a></li><br>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <a class="nav-link" href="{% url 'login' %}"></i> Iniciar sesion</a>
            </ul>
    
            {% endif %}
          </div>
      </nav>
      
        <!-- Header-->
        <header id="titulo_perfil" class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-black">
                    <h1 class="display-3 fw-bolder"><b>Perfil</b></h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
          <div class="container">
            <div class="card">
              <div class="card-header">
                Mi perfil
              </div>
              {% for x in usuario %}
              <div class="card-body">
                <h5 class="card-title">{{ x.nombres }}</h5>
                <p class="card-text"><strong>Email:</strong> {{ x.correo }}</p>
              </div>
              {% endfor %}
              <a href="{% url 'chNGE' %}" class="btn btn-primary">Cambiar contraseña</a> 
              <a href="{% url 'borrarcuenta' %}" class="btn btn-primary">eliminar cuenta</a> 
            </div>
          </div>
        </section>
        <div class="max-w-6xl mx-auto p-6">
          <h2 class="my-6 text-xl">
            mis compras
          </h2>
          {% for x in factura %}
          <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">
            <div class="mb-6 flex justify-between">
              <a href="">Factura {{ x.factura }}</a>
            </div>
            {% for y in detalle.items.all %}
            <div class="mb-6 w-full">
              <div class="product mb-6 flex pr-6">
                  <a href="" class="w-1/4"><img src="{{ y.producto.imagen }}" class="hover:shadow-lg rounded-xl"></a>
                  <div class="w-3/4 pl-6">
                      <div class="flex justify-between">
                          <a href="" class="text-lg">{{ y.producto.nombre }}</a>

                          <p class="mb-6 pt-1 text-gray">
                            {{ y.price }}
                          </p>
                      </div>
                      <hr>
                      <div class="mt-6">
                        cantidad: {{ y.cantidad }}
                      </div>
                  </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>       
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'menu/js/scripts.js' %}"></script>
    </body>
</html>